*{
    padding: 0;
    box-sizing: content-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #303a52a9;
    animation: yourAnimation 2s forwards 0s ease-in-out;
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0);
        background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
        opacity: 0.25;
        }
    100%{
        transform: rotate(0);
        background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
        opacity: 1;
        }
}

.main-header{
    height: 55px;
    background-color: #303a52;
    color: blanchedalmond;
}

#brand-logo{
    width: 25px;
    padding: 4px;
}
.brand{
    display: inline-block;
    margin: 6px 12px;
    vertical-align: middle;
    font-size: 26px;
    font-weight: 500;
}

.brand a{
    text-decoration: none;
    color: blanchedalmond;
}

.nav-list-item{
    vertical-align: middle;
    display: inline-block;
    padding: 0 12px;
    transition: 0.3s ease;
}

.nav-list-items{
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    width: calc(100% - 300px);
    margin: 0;
}

.nav-list-items li a{
    text-decoration: none;
    color: rgba(5, 5, 5, 0.87);
    color: inherit;
}

.nav-list-item:hover{
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.658);
    color: #44b0d1bb;
    border-radius: 7px;
}

.showcase{
    height: 100vh;
    width: 100%;
    /* background: url(../Images/1.jpg) no-repeat; */
    background-size: 1200px 500px;
    background-position: 20px 48px;
    padding: 20px;
    margin-left: 0;
    color: #c5e3f6;
    animation: yourAnimation1 1.2s forwards 0s ease-out;
}

@keyframes yourAnimation1{
    0%{
        transform: rotate(0) scale(0.6) skewX(0deg);
        background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) skewX(0);
        background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244));
        opacity: 1;
        }
}

.showcase img{
    position: absolute;
    top: 5%;
    left: 2.5%;
    z-index: -1;
    width: 90%;
}

.showcase h1{
    position: absolute;
    top: 22%;
    left: 5.6%;
    font-size: 50px;
    font-weight: 600;
    animation: yourAnimation2 1.4s forwards 0s ease;
}

@keyframes yourAnimation2{
    0%{
        transform: rotate(0) scale(.8) translateY(-80px) skewX(15deg);
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) translateY(0) skewX(0);
        opacity: 1;
        }
}

.showcase h2{
    position: absolute;
    top: 34%;
    left: 5.6%;
    font-size: 40px;
}

.showcase p{
    position: absolute;
    top: 41%;
    left: 5.6%;
}

.button{
    position: absolute;
    vertical-align: middle;
    top: 48%;
    left: 5.6%;
    width: 80px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    background-color: #c5e3f6;
    transition: 0.4s ease-out;
}

.button:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.774);
    color: #44b0d1bb;
}

.header{
    color: #4bbfe2;
    text-align: center;
    margin: 50px;
    font-size: 50px;
    font-weight: 700;
}

.flex-container{
margin-top: 0px;
clear: both;
float: inline-start;
align-items: center;
}

.flex-item{
    width: 28%;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: 1.33%;
    vertical-align: middle;
    border: #4c4e52 1px solid;
    border-radius: 10px;
    padding: 15px;
    background-color: #303a52;
    color: rgb(238, 234, 234);
    transition: 0.5s;
}

.flex-item img{
    padding-top: 12px;
}

#big-item{
    padding-top: 9px;
}

.main .flex-container .flex-item:hover{
    transform: scale(1.1);
    border-radius: 10px;
}

.main .flex-container .flex-item h5{
    font-size: 25px;
    letter-spacing: 0.5px;
    margin: 20px 0px;
}

.main .flex-container .flex-item p{
    width: 180px;
    text-align: center;
    margin: auto;
    color: rgb(238, 234, 234);
    font-size: 15px;
}

footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.2rem;
    margin-top: 4%;
}

[data-scroll]{
    transition: all 1.2s;
}

[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0);
}

[data-scroll="out"]{
    opacity: 0.15;
    transform: translateY(30%);
}
@keyframes yourAnimation3{
    0%{
        transform: rotate(0) translateY(-25%);
        opacity: 0.1;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}