*{
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #202020;
    animation: yourAnimation 2s forwards 0s ease-in-out;
}

@keyframes yourAnimation{
    0%{
        transform: rotate(0);
        /* background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244)); */
        opacity: 0.25;
        }
    100%{
        transform: rotate(0);
        /* background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244)); */
        opacity: 1;
        }
}

.main-header{
    height: 70px;
    background-color: #000000;
    color: white;
}

#brand-logo{
    width: 55px;
    padding: 4px;
    margin-top: 10px;
}
.brand{
    display: inline-block;
    margin: 6px 12px;
    vertical-align: middle;
    font-size: 3rem;
    font-weight: 500;
}

.brand a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav-list-item{
    vertical-align: middle;
    display: inline-block;
    padding: 0 12px;
    transition: 0.3s ease;
}

.nav-list-items{
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    width: calc(100% - 320px);
    margin: 0;
}

.nav-list-items li a{
    text-decoration: none;
    color: rgba(5, 5, 5, 0.87);
    color: inherit;
    font-size: 1.6rem;
}

.nav-list-item:hover{
    transform: scale(1.2);
    background-color: rgba(0, 0, 0, 0.658);
    color: #44b0d1bb;
    border-radius: 7px;
}

.showcase{
    height: 80vh;
    width: 100%;
    background: url(../Images/wallpapersden.com_microphone-music-bw_5120x2880.jpg) no-repeat;
    background-size: 95% 100%;
    background-position: 20px 48px;
    padding: 20px;
    margin-left: 0;
    color: white;
    animation: yourAnimation1 1.2s forwards 0s ease-out;
}

@keyframes yourAnimation1{
    0%{
        transform: rotate(0) scale(0.6) skewX(0deg);
        /* background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244)); */
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) skewX(0);
        /* background: linear-gradient(to right, rgb(55, 59, 68), rgb(66, 134, 244)); */
        opacity: 1;
        }
}

.showcase img{
    position: absolute;
    top: 15%;
    right: 5%;
    z-index: -1;
    width: 30%;
}

.showcase h1{
    position: absolute;
    top: 40%;
    left: 5.6%;
    font-size: 100px;
    font-weight: 600;
    animation: yourAnimation2 1.4s forwards 0s ease;
}

@keyframes yourAnimation2{
    0%{
        transform: rotate(0) scale(.8) translateY(-80px) skewX(15deg);
        opacity: 0;
        }
    100%{
        transform: rotate(0) scale(1) translateY(0) skewX(0);
        opacity: 1;
        }
}

.showcase h2{
    position: absolute;
    top: 56%;
    left: 5.6%;
    font-size: 40px;
}

.showcase p{
    position: absolute;
    top: 41%;
    left: 5.6%;
}

.button{
    position: absolute;
    vertical-align: middle;
    top: 48%;
    left: 5.6%;
    width: 80px;
    padding: 5px 10px;
    border-radius: 10px;
    border: 0;
    background-color: #c5e3f6;
    transition: 0.4s ease-out;
}

.button:hover{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.774);
    color: #44b0d1bb;
}

.header h1{
    color: #ffffff;
    text-align: center;
    margin-top: 150px;
    font-size: 60px;
    font-weight: 700;
}

.sub-header{
    color: #ffffff;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 500;

}

.main{
    text-align: center;
    vertical-align: middle;
    position: relative;
    width: 100%;
}

.content-para{
    font-size: 20px;
    color: white;
    width: 50%;
    padding: 40px;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
}

.plain-text{
    font-size: 2rem;
    color: rgb(192, 192, 192);
    text-align: center;
    font-weight: 400;
}

.events-photo{
    padding: 26px;
    width: 80rem;
}

.cropped2 {
    width: 42%; /* width of container */
    height: 42%; /* height of container */
    object-fit: cover;
    object-position: 0 120px; /* try 20px 10px */ 
}

/* .flex-container{
margin-top: 0px;
clear: both;
float: inline-start;
align-items: center;
}

.flex-item{
    width: 370px;
    height: 200px;
    display: inline-block;
    text-align: center;
    margin: 1.66%;
    vertical-align: middle;
    border: #4c4e52 1px solid;
    border-radius: 10px;
    padding: 15px;
    background-color: #303a52;
    color: rgb(238, 234, 234);
    transition: 0.5s;
}

.flex-item img{
    padding-top: 12px;
} */

/* #big-item{
    padding-top: 9px;
}

.main .flex-container .flex-item:hover{
    transform: scale(1.1);
    border-radius: 10px;
}

.main .flex-container .flex-item h5{
    font-size: 25px;
    letter-spacing: 0.5px;
    margin: 20px 0px;
}

.main .flex-container .flex-item p{
    width: 180px;
    text-align: center;
    margin: auto;
    color: rgb(238, 234, 234);
    font-size: 15px;
} */

footer{
    background-color: #333;
    color: #fff;
    /* text-align: center; */
    padding: 1.2rem;
    margin-top: 4%;
    font-size: 1.6rem;
}

footer p{
    display: inline;
    text-align: justify;
}

footer h2{
    display: inline;
    font-size: 1.6rem;
    font-weight: 300;
    text-align: left;
    padding-right: 3rem;
}

[data-scroll]{
    transition: all 1.2s;
}

[data-scroll="in"]{
    opacity: 1;
    transform: translateY(0);
}

[data-scroll="out"]{
    opacity: 0.15;
    transform: translateY(30%);
}
@keyframes yourAnimation3{
    0%{
        transform: rotate(0) translateY(-25%);
        opacity: 0.1;
        }
    100%{
        transform: rotate(0) translateY(0);
        opacity: 1;
        }
}